@model IEnumerable<CreatEnJoy.Models.CategoryMemberModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCategoryMember)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDMember)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDCategoryMember)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDMember)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.IDCategoryMember}) |
            @Html.ActionLink("Details", "Details", new {id=item.IDCategoryMember}) |
            @Html.ActionLink("Delete", "Delete", new {id=item.IDCategoryMember})
        </td>
    </tr>
}

</table>
